canvas{
  border: #020006 solid 4px;
}
#ddpl {
    left: 0;
    top: 0;
    /*height: 50px;
    width: 50px;*/
    display: none;
}

#zed{
  left: 890;
  top: 590;
  height: 50px;
  width: 50px;
  display: none;

}