canvas{
  border: #020006 solid 4px;
  position: absolute;
}
.score {
				position: absolute;
				top: 15px;
				left: 700px;
        font-size: 1.5em;
				color: #FF7F00;
				font-family: Helvetica, sans-serif;
				cursor: default;
			}